/* Al entrar en la pestaña de lista se veran los animales almacenados en forma de tarjeta, siendo esto asi por este punto, quedara esa forma poniendo el fondo blanco, le dara forma de columna
pondra los bordes redondeados y los resaltara en gris.*/
.tarjeta{
  display:flex;
  background: white;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #b1b1b194;
  border-radius:15px;
  font-family: sans-serif;
  /*separacion que tendra el titulo y el tipo de letra*/
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
